@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');

body{
    padding: 2%;
    background-image: url(abstract_black_wallpaper.jpg);
    background-attachment: fixed;
    background-size: cover;

}

.title{
    font-family: 'Montserrat', sans-serif;
    font-size: 7vw;
    font-weight: 800;
    color: #66FCF1;
    text-align: center;
}

.container{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: white;
    text-align: left;
    font-size: 2.5vw;
    

}
iframe{
    align-self: center;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

b{
    color: #66FCF1;
}